﻿@model QuanLyPhuKien.billDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>billDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bill.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bill.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product1.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
