﻿@model QuanLyPhuKien.comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comment1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer1.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer1.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product1.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
