﻿@model QuanLyPhuKien.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <center><img src="~/Content/img/product/@Model.img" width="250px"/></center>
    <dl class="dl-horizontal">

        <dt>

        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthOfGuaranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthOfGuaranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category1.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
